html, body, #root {
  background-color: #eeeeee;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  overflow-x: hidden;
}

/* Force scrollbar to show up always */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}